.section {
  // border: 1px solid green;
  // display: grid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (min-width: $desktop) {
    // padding-inline: 100px;
  }

  .header {
    text-align: center;
    margin-bottom: 60px;

    &__title {
      font-weight: $fw--light;
      font-size: 24px;
      margin-bottom: 18px;

      @media (min-width: 900px) {
        font-size: 37px;
        line-height: 1.3;
      }

      span {
        font-weight: $fw--bold;
      }
    }

    &__subtitle {
      @media (min-width: 900px) {
        max-width: 510px;
        margin: 0 auto;
      }
    }
  }

  .main {
    // border: 1px solid green;
    margin-bottom: 20px;

    @media (min-width: $desktop) {
      // border: 1px solid green;
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(3, 350px);
      grid-auto-rows: 250px;
      gap: 30px;
    }

    &__card {
      // border: 1px solid red;
      position: relative;
      overflow: hidden;
      min-width: 190px;
      max-width: 350px;
      background-color: $clr--white;
      box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.125);
      display: grid;
      padding: 26px 30px 30px;
      border-radius: 7px;
      margin: 0 auto;

      @media (min-width: $desktop) {
        height: 250px;
      }

      &:not(:last-child) {
        margin-bottom: 25px;

        @media (min-width: $desktop) {
          margin-bottom: 0;
        }
      }

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 4px;
      }

      &--supervisor {
        &::before {
          background-color: $clr--cyan;
        }

        @media (min-width: 900px) {
          grid-row: span 2;
          align-self: center;
          order: 1;
        }
      }
      &--team {
        &::before {
          background-color: $clr--red;
        }

        @media (min-width: 900px) {
          order: 2;
        }
      }
      &--karma {
        &::before {
          background-color: $clr--orange;
        }

        @media (min-width: 900px) {
          order: 4;
        }
      }
      &--calculator {
        &::before {
          background-color: $clr--blue;
        }

        @media (min-width: 900px) {
          grid-row: span 2;
          align-self: center;
          order: 3;
        }
      }

      &-title {
        font-size: 20px;
        margin-bottom: 3px;
      }

      &-subtitle {
        font-size: $fs--small;
        margin-bottom: 38px;
      }

      &-img {
        width: 55px;
        aspect-ratio: 1;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        justify-self: end;

        @media (min-width: $desktop) {
          width: 65px;
        }

        &.supervisor {
          background-image: url('./../images/icon-supervisor.svg');
        }
        &.team {
          background-image: url('./../images/icon-team-builder.svg');
        }
        &.karma {
          background-image: url('./../images/icon-karma.svg');
        }
        &.calculator {
          background-image: url('./../images/icon-calculator.svg');
        }
      }
    }
  }

  .attribution {
    font-size: 11px;
    text-align: center;

    @media (min-width: $desktop) {
      font-size: 13px;
    }

    a {
      color: $clr--title;
      text-decoration: none;
      font-weight: $fw--bold;
    }
  }
}
