// Layout
$desktop: 900px;

// Colors
$clr--white: hsl(0, 0%, 100%);
$clr--red: hsl(0, 78%, 62%);
$clr--cyan: hsl(180, 62%, 55%);
$clr--orange: hsl(34, 97%, 64%);
$clr--blue: hsl(212, 86%, 64%);

$clr--title: hsl(234, 12%, 34%);
$clr--text: hsl(229, 6%, 66%);
$clr--bg: hsl(0, 0%, 98%);

// Typography
$ff-main: 'Poppins', sans-serif;

$fw--light: 200;
$fw--regular: 400;
$fw--bold: 600;

$fs--regular: 15px;
$fs--small: 13px;
